.categories {
  display: flex;
  align-items: center;
  gap: 1rem;
  overflow-x: auto;
}

.categories::-webkit-scrollbar {
  display: none;
}

.category {
  position: relative;
}

.category-input {
  position: absolute;
  opacity: 0;
}

.category-label {
  display: inline-block;
  cursor: pointer;
  white-space: nowrap;
  padding: 0.5rem 0.75rem;
  border: 1px solid var(--color-background-accent-three);
  border-radius: 2rem;
}

.category-input:checked ~ .category-label {
  background-color: var(--color-cta);
  border-color: var(--color-cta);
  color: var(--color-background);
}
