.shrinked-sidebar {
  background-color: var(--color-background);
  margin-left: 1rem;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.shrinked-sidebar-link {
  cursor: pointer;
  padding: 0.875rem;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  aspect-ratio: 1 / 1;
}

@media screen and (max-width: 950px) {
  .shrinked-sidebar {
    display: none;
  }
}
