.dropdown-menu {
  position: absolute;
  top: 115%;
  text-align: center;
  width: max-content;
  border-radius: 5px;
  box-shadow: var(--box-shadow);
}

.dropdown-menu > ul {
  background-color: var(--color-background-accent-one);
  border: none;
}

.dropdown-menu > ul > li {
  border-color: var(--color-background-accent-two);
}
