/* Rubik Font */
@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
/* Rubik Font */

/* Horsemaker UI Resset CSS */
@import url("https://horsemaker-ui.netlify.app/stylesheets/reset.css");
/* Horsemaker UI Resset CSS */

/* Horsemaker UI Main CSS */
@import url("https://horsemaker-ui.netlify.app/stylesheets/main.css");
/* Horsemaker UI Main CSS */

.dark-theme {
  --color-cta: #e60003;

  --color-background: #181818;
  --color-background-transparent: #18181880;
  --color-background-accent-one: #2f2f2f;
  --color-background-accent-two: #464646;
  --color-background-accent-three: #5d5d5d;
  --color-foreground: #ffffff;

  --color-red-accent: #380d0d;
  --color-red: #fecaca;

  --box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

.light-theme {
  --color-cta: #e60003;

  --color-background: #ffffff;
  --color-background-transparent: #ffffff80;
  --color-background-accent-one: #e6e6e6;
  --color-background-accent-two: #cccccc;
  --color-background-accent-three: #b3b3b3	;
  --color-foreground: #181818;

  --color-red-accent: #fecaca;
  --color-red: #380d0d;

  --box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

.app {
  font-family: "Rubik", sans-serif;
  background-color: var(--color-background);
  color: var(--color-foreground);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.app-content {
  margin-top: 5rem;
  margin-bottom: 2.5rem;
  position: relative;
  display: flex;
}

/* Link */
.link {
  color: var(--color-foreground);
}
/* Link */

/* Buttons */
.btn {
  box-shadow: var(--box-shadow);
}

.btn-primary {
  background-color: var(--color-cta);
  color: var(--color-background);
}
/* Buttons */

/* Inputs */
.coke-input {
  accent-color: var(--color-cta);
}

input[type="email"]:valid {
  background-color: transparent;
  color: inherit;
}
/* Inputs */

/* Error */
.error-message {
  background-color: var(--color-red-accent);
  color: var(--color-red);
  padding: 0.25rem 0.5rem;
  border-radius: 5px;
  width: max-content;
}
/* Error */
