/* Rubik Font */
@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
/* Rubik Font */

/* Horsemaker UI Resset CSS */
@import url("https://horsemaker-ui.netlify.app/stylesheets/reset.css");
/* Horsemaker UI Resset CSS */

/* Horsemaker UI Main CSS */
@import url("https://horsemaker-ui.netlify.app/stylesheets/main.css");
/* Horsemaker UI Main CSS */

.dark-theme {
  --color-cta: #e60003;

  --color-background: #181818;
  --color-background-accent-one: #464646;
  --color-foreground: #ffffff;
}

.light-theme {
  --color-cta: #e60003;

  --color-background: #ffffff;
  --color-background-accent-one: #cccccc;
  --color-foreground: #181818;
}

.app {
  font-family: "Rubik", sans-serif;
  background-color: var(--color-background);
  color: var(--color-foreground);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
