.theme-toggle {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.theme-toggle-label {
  position: relative;
  display: inline-block;
  width: 4rem;
  height: 2rem;
}

.theme-toggle-input {
  opacity: 0;
  width: 0;
  height: 0;
}

.theme-toggle-slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 2rem;
  background-color: var(--color-background-accent-one);
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.theme-toggle-slider:before {
  position: absolute;
  content: "";
  height: 1.5rem;
  width: 1.5rem;
  left: 4px;
  bottom: 4px;
  border-radius: 50%;
  background-color: var(--color-foreground);
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.theme-toggle-input:checked + .theme-toggle-slider:before {
  -webkit-transform: translateX(2rem);
  -ms-transform: translateX(2rem);
  transform: translateX(2rem);
}

.theme-mode {
  font-size: 2.25rem;
}
