.sidebar {
  position: sticky;
  top: 5.5rem;
  margin-top: 0.5rem;
  align-self: flex-start;
}

@media screen and (max-width: 950px) {
  .sidebar {
    background-color: var(--color-background-transparent-one);
    position: fixed;
    margin-top: 0;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    z-index: 2;
  }
}
